* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    height: 0;
    background-color: rgb(255, 153, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    gap: 25px;
}
.container .colon {
    font-size: 8rem;
    font-family: consolas;
    color: rgb(47, 5, 87);
}
.container div {
    font-size: 4.5rem;
    color: blueviolet;
    background-image: linear-gradient(
        to bottom left,
        lightgreen,
        rgb(93, 182, 93)
    );
    width: 200px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 5px;
    position: relative;
}
.boxes::before {
    content: '.';
    position: absolute;
    bottom: -10px;
    left: -10px;
    color: black;
    font-size: 6rem;
    font-family: consolas;
}
